alembic==1.12.0
annotated-types==0.6.0
anyio==3.7.1
attrs==23.1.0
autopep8==2.0.2
bcrypt==4.0.1
blinker==1.7.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==7.1.2
colorama==0.4.6
coralogix==0.2.6.6
coralogix-logger==2.0.5
cryptography==41.0.5
distlib==0.3.7
elastic-transport==8.4.1
elasticsearch==8.10.1
enum34==1.1.10
fastapi==0.104.1
filelock==3.12.4
Flask
flask-cors
flask-migrate
flask-script
flask-sqlalchemy


oauthlib
psycopg2
psycopg2-binary

requests
SQLAlchemy
sshtunnel
starlette
tqdm
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
virtualenv
